table, td, th {
  border: 1px solid #ddd;
}

table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

th, td {
  padding: 15px;
}

th.time {
  width: 20%;
}

th.task {
  width: 80%;
}

html {
  margin-left: 15%;
  margin-right: 15%;
}

.task-creator {
  display: flex;
}

.task-creator input{
  flex-grow: 10;
}

.task-creator select {
}

.task-creator button {
  flex-grow: 1;
}
