table, td, th {
  border: 1px solid #ddd;
}

table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

th, td {
  padding: 15px;
}

th.time {
  width: 20%;
}

th.task {
  width: 80%;
}

html {
  margin-left: 15%;
  margin-right: 15%;
}

.task-creator {
  display: flex;
  margin-bottom: 10px;
}

.task-creator__task-name {
  display: flex;
  flex-grow: 10;
  padding-right: 5px;
}

.task-creator__duration {
  display: flex;
  padding-right: 5px;
}

.task-creator__add-btn {
  display: flex;
}

.task-creator__start-time {
  flex-grow: 1;
  display: flex;
  padding-right: 5px;
}

.task-creator__task-name input {
  flex-grow: 1;
}

.task-creator__duration select {
  flex-grow: 1;
}

.task-creator__add-btn button {
  flex-grow: 1;
}

.task-creator__start-time select{
  flex-grow: 1;
}

.time-slot__task {
  position: relative;
  text-align: left;
}

.time-slot__remove-btn {
  display: none;

  float: right;
  position: absolute;
  top: 15px;
  right: 15px;
}

.time-slot__task:hover .time-slot__remove-btn {
  display: block;
}

.time-slot__task--done {
  color: #CECECE;
}

.time-slot--active {
  background-color: aliceblue;
}

.header__text {
  display: inline-block;
  height: 35px;
  vertical-align: super;
}

.header__logo {
  width: 35px;
}

.header__logo img {
  width: 35px;
}