table, td, th {
  border: 1px solid #ddd;
}

table {
  border-collapse: collapse;
  width: 70%;
  text-align: center;
  margin-left: 15%;
}

th, td {
  padding: 15px;
}

.title {
  text-align: center;
}